[Desktop Entry]
Type=Application
Name=Jabraw
Comment=Medientasten und Tray-Menü für Jabra-Headsets
Exec=/usr/bin/jabraw --quiet
Icon=jabraw
Terminal=false
Categories=AudioVideo;Audio;
X-GNOME-Autostart-enabled=true
NoDisplay=true
