[Desktop Entry]
Type=Application
Name=Jabraw
Comment=Show the Jabra headset's status and start the daemon
Comment[de]=Status des Jabra-Headsets anzeigen, Daemon starten
Exec=/usr/bin/jabraw
Icon=jabraw
Terminal=false
Categories=AudioVideo;Audio;
Keywords=Jabra;Headset;Evolve;Media keys;
Keywords[de]=Jabra;Headset;Kopfhörer;Evolve;Medientasten;
