[Desktop Entry]
Type=Application
Name=Jabraw
Comment=Media keys and tray menu for Jabra headsets
Comment[de]=Medientasten und Tray-Menü für Jabra-Headsets
Exec=/usr/bin/jabraw --quiet
Icon=jabraw
Terminal=false
Categories=AudioVideo;Audio;
X-GNOME-Autostart-enabled=true
NoDisplay=true
