[Desktop Entry]
Type=Application
Name=Jabraw
Comment=Status des Jabra-Headsets anzeigen, Daemon starten
Exec=/usr/bin/jabraw
Icon=jabraw
Terminal=false
Categories=AudioVideo;Audio;
Keywords=Jabra;Headset;Kopfhörer;Evolve;
