[Unit]
Description=Jabra Headset Media Keys und Tray
Documentation=file:///usr/share/doc/jabraw/README.md
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/jabraw
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
